{% extends "layout.html" %}
{% block content %}
<div class="col-12">
  <h1>About CodeFrags</h1>
  <div class="card p-5">
    <p>
      CodeFrags is a programming website, on which you are able to upload your own code snippets. Your code snippets are then automatically coloured based on what programming language you choose.
      You can write a description to them or add a comment.
      Other users can then review your posts, like them or ask questions in the comment section.
      You can update or delete your own posts if you want to do so.
      (This website has been created as a school project at the <a href="https://gigu.ch">iet gibb</a>, Bern Switzerland)
    </p>
    <small class="text-muted">CodeFrags Inc. 2018</small>
  </div>
</div>
{% endblock content %}
