{% extends "layout.html" %}
{% block content %}
<div class="col-12 float-left">
  <div class="form-inline w-100 justify-content-center mb-3">
    <form class="input-group w-100" method="GET" action="{{ url_for('posts.search') }}">
      <input class="form-control" name="q" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text" spellcheck="false">
      <div class="input-group-btn">
        <input class="btn btn-success" type="submit" value="Search">
      </div>
    </form>
  </div>
  <div class="jumbotron pt-5 bg-ligth">
    {% include "posts.html" %}
  </div>
  <div class="card p-3 mb-4 text-center">
    <h4>There are {{ usercount }} accounts registered on CodeFrags and {{ postcount }} posts have allready been posted! That's amazing!❤️</h4>
  </div>
  <div class="w-100 text-center">
    <small class="text-muted">CodeFrags Inc. 2018</small>
  </div>
</div>
{% endblock content %}
