{% for post in posts %}
<div class="card w-75 ml-auto mr-auto">
  <div class="card-header">
    <div class="w-25">
      <img style="width:50px;float:left;" class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="">
    </div>
    <div class="felx-column">
      <h4 style="position:relative;left:15px;top:10px;">{{ post.title }}<small> - By {{ post.author.username }}</small></h4>
    </div>
  </div>
  <div class="card-body p-0">
      <pre class="language-{{ post.language.name }} m-0">
        <code>{{ post.code }}</code>
      </pre>
  </div>
  <div class="card-footer">
    <p>{{ post.description }}</p>
    <hr>
    <small><b>Posted:</b> {{ post.datetime.strftime('%d-%m-%Y') }}</small>
  </div>
</div>
{% endfor %}
