{% extends "layout.html" %}
{% block content %}
<div class="card w-100 p-5 ml-auto mr-auto" style="margin-top:-18px;">
  <div class="media">
    <img style="height:75px;width:75px;object-fit:cover;" class="rounded-circle account-img mb-4 mr-4" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
    <div class="media-body h-100">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">
        <a href="mailto:user.email">{{ user.email }}</a>
      </p>
    </div>
    {% if current_user.role.rights > user.role.rights and current_user.role.rights == 2 %}
      <a href="{{ url_for('users.delete_user', id=user.id) }}" class="btn btn-danger">Delete user</a>
    {% endif %}
  </div>
</div>
<div class="card w-100 p-3 pb-5">
  <h3>Posts by {{ user.username }}:</h3>
  {% include "posts.html" %}
</div>
{% endblock content %}
