@media(max-width:768px) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        clear:both;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}

.remove-icon {
  float: right;
  cursor: pointer;
  user-select: none;
}
