@media(max-width:768px) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        clear:both;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}

.remove-icon {
  position: absolute;
  right: 18px;
  float: right;
  cursor: pointer;
  user-select: none;
}

.code-textarea {
  font-family: Inconsolata;
  height: 300px;
  font-size: 18px;
}

.code-description-textarea {
  height: 120px;
  font-size: 15px;
}

.comment_field {
  height: 80px;
  font-size: 14px;
}

.like_button {
  color: crimson;
}
